

.card {
    margin: 0 auto;
    width: 240px;
}

.card-text {
    text-align: center;
}

.card-title {
    font-weight: bolder;
}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}